@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Gabarito", sans-serif;
}

header {
  background-color: rgb(160, 160, 160);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 90px;
}

nav {
  display: flex;
  gap: 100px;
}

.lista-header {
  display: flex;
  margin: 70px;
  gap: 100px;
  color: white;
}

a {
  color: white;
}

img {
  height: 150px;
  width: 150px;
}
