@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&display=swap");

:root {
  --background: #1b2845;
  --nav-bar: #274060;
  --details1: #7ca5b8;
  --details2: #e1b07e;
  --details3: #e5be9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Gabarito", sans-serif;
}

header {
  background-color: var(--nav-bar);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 75px;
}

nav {
  display: flex;
  gap: 100px;
}

.lista-header {
  display: flex;
  margin: 70px;
  gap: 100px;
  color: white;
}

a {
  color: white;
}

img {
  height: 120px;
  width: 120px;
}

main {
  background-color: var(--background);
  height: 600px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section {
  display: flex;
  gap: 50px;
  max-width: 700px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

p {
  color: white;
  margin-bottom: 20px;
}

.herolink-1 {
  color: #1b2845;
  font-weight: 600;
  background-color: #e1b07e;
  border-radius: 30px;
  padding: 5px;
}

.herolink-2 {
  color: #1b2845;
  font-weight: 600;
  background-color: var(--details3);
  border-radius: 30px;
  padding: 5px;
}

.hero-pic img {
  height: 200px;
  width: 300px;
}

.about-section {
  margin-top: 50px;
  max-width: 700px;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}
